
body {
  font-size: 80%;
}
* html body {
  width: 800px;
}
.clear-block,
#top-nav,
#header,
#footer {
  height: 1%;
}
#content-both #sidebar-left {
  left: 200px; /* RC fullwidth */
}
#content-left #sidebar-left {
  left: 10px; /* LC left margin */
}
