
/* Page layout */

#page-wrapper {
  position: absolute;
  top: 150px;
  width: 100%;
  max-width: 800px;
}
#content-both {
  padding-left: 200px;
  padding-right: 200px;
}
#content-left {
  padding-left: 200px;
  padding-right: 10px;
}
#content-right {
  padding-left: 10px;
  padding-right: 200px;
}
#content-none {
  padding-left: 10px;
  padding-right: 10px;
}
.column {
  position: relative;
  float: left;
  overflow: hidden;
}
#main {
  width: 100%;
}
#main2 {
  margin-left: 20px;
}
#sidebar-left {
  width: 180px;
  right: 200px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: -100%;
}
#sidebar-right {
  width: 180px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: -200px;
}
#footer {
  clear: both;
}
#header-block .block {
  display: block;
  float: left;
  width: 180px;
  margin-right: 10px;
}
#header, #top-nav, #top-nav2, #header-block {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}
#top-nav {
  width: 100%;
  max-width: 770px;
  position: absolute;
  top: 80px;
  background: transparent;
}
#top-nav2 {
  display: none;
}
